# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environment
venv/
env/
ENV/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
*.mo

# Environment variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

